*{
    font-family: 'Poppins', sans-serif;
}

[data-tab-content]{
    display: none;

}

.active[data-tab-content]{
    display: block;
    
}
.tabs{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
}
.tab{
    cursor: pointer;
    padding: 10px;
}
.tab.active{
    background-color: #ccc;
}

.tab:hover {
    background-color: #aaa;
}
.tab-content{
    display: flex;
    justify-content: center;
    align-items: center;
    top:50px;
}